# Ignore sync directories and server files
sync_dir_*
server/files/

*.exe
.vscode/c_cpp_properties.json
.DS_Store
server/server
client/client
.vscode/settings.json
input-files/
*.o
0329.mov
0330.mov
aurelia.pdf
cliente1/client
cliente2/client
servidor/server
